# 1. Load sampled data and block

In [1]:
import pandas as pd
import py_entitymatching as em

In [2]:
A = em.read_csv_metadata('cars_sample.csv', key='vin')
B = em.read_csv_metadata('market_sample.csv', key='vin')

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [3]:
A.head(2)

,name,year,maker,price,seller_name,seller_phone,miles,exterior_color,interior_color,transmission,drivetrain,vin,id
0,2010 Mercedes-Benz GL 450 4MATIC,2010,Mercedes-Benz,15614.0,Kayser Ford Lincoln,(608) 807-5359,107545.0,Black,Cashmere,7-Speed Automatic,AWD,4JGBF7BEXAA543808,0
1,2015 Mercedes-Benz ML 350,2015,Mercedes-Benz,29998.0,CarMax Madison,(608) 286-3923,36642.0,Gray,Black,7-Speed Automatic w/OD,AWD,4JGDA5HB7FA445741,1

## 1.1 Block on name
we will assume that two cars with no sufficient overlap between their name do not refer to the same car.

In [4]:
ob = em.OverlapBlocker()

In [5]:
attrs = ['name', 'year', 'maker', 'price', 'seller_phone', 'seller_name', 'miles', 'exterior_color', 'interior_color']

In [6]:
C1 = ob.block_tables(A, B, 'name', 'name', word_level=True,
                    overlap_size=3, l_output_attrs=attrs,
                    r_output_attrs=attrs)

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

In [7]:
len(C1)

89541

In [8]:
C1.head()

,_id,ltable_vin,rtable_vin,ltable_name,ltable_year,ltable_maker,ltable_price,ltable_seller_phone,ltable_seller_name,ltable_miles,...,ltable_interior_color,rtable_name,rtable_year,rtable_maker,rtable_price,rtable_seller_phone,rtable_seller_name,rtable_miles,rtable_exterior_color,rtable_interior_color
0,0,4JGDA5HB7FA445741,4JGDF2EEXFA490266,2015 Mercedes-Benz ML 350,2015,Mercedes-Benz,29998.0,(608) 286-3923,CarMax Madison,36642.0,...,Black,2015 Mercedes-Benz GL-Class GL 350 BlueTEC,2015.0,Mercedes-Benz,43977.0,(888) 440-2312,Kunes Country Ford Lincoln Inc.,39027.0,NaN,NaN
1,1,WDDHF8JB4FB086738,4JGDF2EEXFA490266,2015 Mercedes-Benz E 350 4MATIC,2015,Mercedes-Benz,29855.0,(920) 545-2133,Kayser Chrysler Center Watertown,35199.0,...,Gray / Dark Gray,2015 Mercedes-Benz GL-Class GL 350 BlueTEC,2015.0,Mercedes-Benz,43977.0,(888) 440-2312,Kunes Country Ford Lincoln Inc.,39027.0,NaN,NaN
2,2,4JGDF2EEXFA490266,4JGDF2EEXFA490266,2015 Mercedes-Benz GL 350 BlueTEC 4MATIC,2015,Mercedes-Benz,43977.0,(262) 586-4283,Kunes Country Chevrolet Cadillac of Delavan,39027.0,...,Black,2015 Mercedes-Benz GL-Class GL 350 BlueTEC,2015.0,Mercedes-Benz,43977.0,(888) 440-2312,Kunes Country Ford Lincoln Inc.,39027.0,NaN,NaN
3,3,WDDGJ8JB3FG369502,4JGDF2EEXFA490266,2015 Mercedes-Benz C 350,2015,Mercedes-Benz,29989.0,(888) 821-6594,Mercedes-Benz of Milwaukee North,25415.0,...,Sport Black,2015 Mercedes-Benz GL-Class GL 350 BlueTEC,2015.0,Mercedes-Benz,43977.0,(888) 440-2312,Kunes Country Ford Lincoln Inc.,39027.0,NaN,NaN
4,4,WDDHF5KB8FB100167,4JGDF2EEXFA490266,2015 Mercedes-Benz E 350,2015,Mercedes-Benz,30980.0,(877) 682-3020,VROOM (Milwaukee),35869.0,...,Black,2015 Mercedes-Benz GL-Class GL 350 BlueTEC,2015.0,Mercedes-Benz,43977.0,(888) 440-2312,Kunes Country Ford Lincoln Inc.,39027.0,NaN,NaN

## 1.2 Block on year, maker
We assume two candidates should have the same year and maker

In [9]:
ab = em.AttrEquivalenceBlocker()

In [10]:
C2 = ab.block_candset(C1, l_block_attr='year', r_block_attr='year')

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

In [11]:
len(C2)

32441

In [12]:
C2.head()

,_id,ltable_vin,rtable_vin,ltable_name,ltable_year,ltable_maker,ltable_price,ltable_seller_phone,ltable_seller_name,ltable_miles,...,ltable_interior_color,rtable_name,rtable_year,rtable_maker,rtable_price,rtable_seller_phone,rtable_seller_name,rtable_miles,rtable_exterior_color,rtable_interior_color
0,0,4JGDA5HB7FA445741,4JGDF2EEXFA490266,2015 Mercedes-Benz ML 350,2015,Mercedes-Benz,29998.0,(608) 286-3923,CarMax Madison,36642.0,...,Black,2015 Mercedes-Benz GL-Class GL 350 BlueTEC,2015.0,Mercedes-Benz,43977.0,(888) 440-2312,Kunes Country Ford Lincoln Inc.,39027.0,NaN,NaN
1,1,WDDHF8JB4FB086738,4JGDF2EEXFA490266,2015 Mercedes-Benz E 350 4MATIC,2015,Mercedes-Benz,29855.0,(920) 545-2133,Kayser Chrysler Center Watertown,35199.0,...,Gray / Dark Gray,2015 Mercedes-Benz GL-Class GL 350 BlueTEC,2015.0,Mercedes-Benz,43977.0,(888) 440-2312,Kunes Country Ford Lincoln Inc.,39027.0,NaN,NaN
2,2,4JGDF2EEXFA490266,4JGDF2EEXFA490266,2015 Mercedes-Benz GL 350 BlueTEC 4MATIC,2015,Mercedes-Benz,43977.0,(262) 586-4283,Kunes Country Chevrolet Cadillac of Delavan,39027.0,...,Black,2015 Mercedes-Benz GL-Class GL 350 BlueTEC,2015.0,Mercedes-Benz,43977.0,(888) 440-2312,Kunes Country Ford Lincoln Inc.,39027.0,NaN,NaN
3,3,WDDGJ8JB3FG369502,4JGDF2EEXFA490266,2015 Mercedes-Benz C 350,2015,Mercedes-Benz,29989.0,(888) 821-6594,Mercedes-Benz of Milwaukee North,25415.0,...,Sport Black,2015 Mercedes-Benz GL-Class GL 350 BlueTEC,2015.0,Mercedes-Benz,43977.0,(888) 440-2312,Kunes Country Ford Lincoln Inc.,39027.0,NaN,NaN
4,4,WDDHF5KB8FB100167,4JGDF2EEXFA490266,2015 Mercedes-Benz E 350,2015,Mercedes-Benz,30980.0,(877) 682-3020,VROOM (Milwaukee),35869.0,...,Black,2015 Mercedes-Benz GL-Class GL 350 BlueTEC,2015.0,Mercedes-Benz,43977.0,(888) 440-2312,Kunes Country Ford Lincoln Inc.,39027.0,NaN,NaN

In [13]:
C3 = ab.block_candset(C2, l_block_attr='maker', r_block_attr='maker')

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

In [14]:
len(C3)

32177

# 1.3 Block on price
We assume the price difference is within 2000.

In [15]:
def price_block(x, y):
    x_price = float(x['price'])
    y_price = float(y['price'])
    if abs(x_price - y_price) > 2000:
        return True
    else:
        return False

In [16]:
bb = em.BlackBoxBlocker()

In [17]:
bb.set_black_box_function(price_block)

In [18]:
C4 = bb.block_candset(C3)

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:01

In [19]:
len(C4)

9798

In [20]:
em.show_properties(C4)

id: 4731987280
key: _id
fk_ltable: ltable_vin
fk_rtable: rtable_vin
ltable(obj.id): 4730138352
rtable(obj.id): 4744168224

## 1.4 block on miles
We assume the miles difference should within 2000

In [21]:
def miles_block(x, y):
    x_miles = float(x['miles'])
    y_miles = float(y['miles'])
    if abs(x_miles - y_miles) > 2000:
        return True
    else:
        return False

In [22]:
bb.set_black_box_function(miles_block)

In [23]:
C5 = bb.block_candset(C4)

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

In [24]:
len(C5)

1577

Now we can move to the next step

In [25]:
type(C5)

pandas.core.frame.DataFrame

In [26]:
C5.to_csv('pairs.csv', index=False)

In [27]:
!ls

block.ipynb             down-sampling.ipynb     pairs.csv
cars_com_clean.csv      market_api_clean.csv    read-csv.ipynb
cars_com_luxury.csv     market_check_luxury.csv
cars_sample.csv         market_sample.csv

In [28]:
len(C5)

1577

In [29]:
C5.head(2)

,_id,ltable_vin,rtable_vin,ltable_name,ltable_year,ltable_maker,ltable_price,ltable_seller_phone,ltable_seller_name,ltable_miles,...,ltable_interior_color,rtable_name,rtable_year,rtable_maker,rtable_price,rtable_seller_phone,rtable_seller_name,rtable_miles,rtable_exterior_color,rtable_interior_color
2,2,4JGDF2EEXFA490266,4JGDF2EEXFA490266,2015 Mercedes-Benz GL 350 BlueTEC 4MATIC,2015,Mercedes-Benz,43977.0,(262) 586-4283,Kunes Country Chevrolet Cadillac of Delavan,39027.0,...,Black,2015 Mercedes-Benz GL-Class GL 350 BlueTEC,2015.0,Mercedes-Benz,43977.0,(888) 440-2312,Kunes Country Ford Lincoln Inc.,39027.0,NaN,NaN
280,280,WBXPC93477WF05281,WBXPC93477WF05281,2007 BMW X3 3.0si,2007,BMW,9795.0,(414) 939-8502,International Autos,21371.0,...,Sand Beige,2007 BMW X3 3.0si SAV,2007.0,BMW,9795.0,NaN,International Alfa Romeo,21371.0,Platinum Bronze,SAND BEIGE