# 1. Explore and clean the data

In [1]:
import pandas as pd
cars_raw_file = "cars_com_luxury.csv"
market_raw_file = "market_check_luxury.csv"

## 1.1 Cars.com
Problems (solution)
1. column names are in different format, e.g. Exterior Color vs seller_review_count. (format it)
2. new cars has nan miles (relace nan with 0)
3. some cars miss price value in cars.com (let's keep it now)
4. there is one car missing vin (delete it)
5. change column brand to maker

In [2]:
cars_df = pd.read_csv(cars_raw_file) # read csv to dataframe

In [3]:
cars_df.head() # have a look at the data

,name,year,brand,color,price,seller_name,seller_phone,seller_average_rating,seller_review_count,miles,distance_from_Madison,Exterior Color,Interior Color,Transmission,Drivetrain,VIN,id
0,2010 Mercedes-Benz GL 450 4MATIC,2010,Mercedes-Benz,Black,15614.0,Kayser Ford Lincoln,(608) 807-5359,4.7,399.0,107545.0,2,Black,Cashmere,7-Speed Automatic,AWD,4JGBF7BEXAA543808,0
1,2015 Mercedes-Benz ML 350,2015,Mercedes-Benz,Gray,29998.0,CarMax Madison,(608) 286-3923,4.3,3.0,36642.0,5,Gray,Black,7-Speed Automatic w/OD,AWD,4JGDA5HB7FA445741,1
2,2013 Mercedes-Benz E 350 4MATIC,2013,Mercedes-Benz,Black,16500.0,Lexus of Madison,(608) 478-2660,5.0,68.0,80614.0,6,Black,Black,7-Speed Automatic,AWD,WDDHF8JB7DA667069,2
3,2015 Mercedes-Benz C 300,2015,Mercedes-Benz,Black,26988.0,Zimbrick Hyundai Eastside,(608) 338-1462,4.9,303.0,30090.0,7,Black,Black,7-Speed A/T,All Wheel Drive,55SWF4KB2FU026106,3
4,2015 Mercedes-Benz SLK 250,2015,Mercedes-Benz,Black,29988.0,Zimbrick Hyundai Eastside,(608) 338-1462,4.9,303.0,25344.0,7,Black,Sahara Beige,7-Speed A/T,Rear Wheel Drive,WDDPK4HA2FF108712,4

In [4]:
cars_df.describe() # summary of cars.com data

,year,price,seller_average_rating,seller_review_count,miles,distance_from_Madison,id
count,3171.000000,2855.000000,2795.000000,2795.000000,1811.000000,3171.000000,3171.000000
mean,2015.269316,40283.803152,4.534812,182.075134,50481.674213,59.185430,1628.925260
std,3.857313,22070.284278,0.507715,306.157071,41077.102605,23.625115,933.782405
min,1981.000000,1499.000000,2.000000,1.000000,0.000000,2.000000,0.000000
25%,2014.000000,24852.000000,4.000000,44.000000,22197.000000,61.000000,831.500000
50%,2017.000000,37998.000000,4.800000,68.000000,39811.000000,68.000000,1635.000000
75%,2018.000000,53382.500000,4.900000,184.000000,67696.500000,73.000000,2433.500000
max,2018.000000,221990.000000,5.000000,4027.000000,320929.000000,80.000000,3244.000000

In [5]:
cars_df['miles'].fillna(value=0, inplace=True) # replace nan miles to 0, this means it is new car

In [6]:
cars_df['miles'].isnull().sum() # check

0

In [7]:
def format_column_name(df):
    """format datafram column names"""
    dic = {}
    for name in df.columns:
        dic[name] = "_".join([token.lower() for token in name.split()])
    if 'brand' in dic:
        dic['brand'] = 'maker'
    if 'make' in dic:
        dic['make'] = 'maker'
    df.rename(columns=dic, inplace=True)

In [8]:
format_column_name(cars_df)

In [9]:
cars_df.columns # check

Index(['name', 'year', 'maker', 'color', 'price', 'seller_name',
       'seller_phone', 'seller_average_rating', 'seller_review_count', 'miles',
       'distance_from_madison', 'exterior_color', 'interior_color',
       'transmission', 'drivetrain', 'vin', 'id'],
      dtype='object')

In [10]:
cars_df = cars_df[pd.notnull(cars_df['vin'])]

In [11]:
cars_df['vin'].nunique() - cars_df.shape[0] # check all vin are valid and unique

0

In [12]:
cars_df.head()

,name,year,maker,color,price,seller_name,seller_phone,seller_average_rating,seller_review_count,miles,distance_from_madison,exterior_color,interior_color,transmission,drivetrain,vin,id
0,2010 Mercedes-Benz GL 450 4MATIC,2010,Mercedes-Benz,Black,15614.0,Kayser Ford Lincoln,(608) 807-5359,4.7,399.0,107545.0,2,Black,Cashmere,7-Speed Automatic,AWD,4JGBF7BEXAA543808,0
1,2015 Mercedes-Benz ML 350,2015,Mercedes-Benz,Gray,29998.0,CarMax Madison,(608) 286-3923,4.3,3.0,36642.0,5,Gray,Black,7-Speed Automatic w/OD,AWD,4JGDA5HB7FA445741,1
2,2013 Mercedes-Benz E 350 4MATIC,2013,Mercedes-Benz,Black,16500.0,Lexus of Madison,(608) 478-2660,5.0,68.0,80614.0,6,Black,Black,7-Speed Automatic,AWD,WDDHF8JB7DA667069,2
3,2015 Mercedes-Benz C 300,2015,Mercedes-Benz,Black,26988.0,Zimbrick Hyundai Eastside,(608) 338-1462,4.9,303.0,30090.0,7,Black,Black,7-Speed A/T,All Wheel Drive,55SWF4KB2FU026106,3
4,2015 Mercedes-Benz SLK 250,2015,Mercedes-Benz,Black,29988.0,Zimbrick Hyundai Eastside,(608) 338-1462,4.9,303.0,25344.0,7,Black,Sahara Beige,7-Speed A/T,Rear Wheel Drive,WDDPK4HA2FF108712,4

## 1.2 Market API
1. column names are in different format, e.g. Exterior Color vs seller_review_count. (format it)
2. new cars has nan miles (relace nan with 0)
3. some cars has nan year, maker, model
4. year format is float
5. some cars miss price value in cars.com (let's keep it now)

In [13]:
market_df = pd.read_csv(market_raw_file)

In [14]:
market_df.head()

,name,VIN,make,model,year,price,miles,Exterior Color,Interior Color,Seller Name,Seller Phone,Transmission,Drivetrain,id
0,2017 BMW X3 Xdrive28i SUV,5UXWX9C30H0W66835,BMW,X3,2017.0,32528.0,13327.0,Mineral Silver Metallic,BLACK,Kayser Nissan,866-752-3695,Automatic,All Wheel Drive,0
1,2013 BMW 3 Series 4dr Sdn 328i xDrive AWD,WBA3B3C55DJ976353,BMW,3 Series,2013.0,17986.0,69367.0,Jet Black,Black,Zimbrick BMW,888-237-4721 877-654-8272,Automatic,All Wheel Drive,1
2,2011 BMW X3 AWD 4dr 28i,5UXWX5C5XBL704359,BMW,X3,2011.0,15990.0,83846.0,Blue Water Metallic,Oyster,Zimbrick BMW,888-237-4721 877-654-8272,Automatic,All Wheel Drive,2
3,2011 BMW 3 Series 4dr Sdn 328i xDrive AWD,WBAPK7C59BA820953,BMW,3 Series,2011.0,14882.0,62935.0,Space Gray Metallic,Beige,Zimbrick BMW,888-237-4721 877-654-8272,Manual,All Wheel Drive,3
4,2011 BMW M3 2dr Cpe,WBSKG9C59BE369258,BMW,M3,2011.0,29990.0,63030.0,Jet Black,Black,Zimbrick BMW,888-237-4721 877-654-8272,Manual,Rear Wheel Drive,4

In [15]:
format_column_name(market_df)

In [16]:
market_df.columns

Index(['name', 'vin', 'maker', 'model', 'year', 'price', 'miles',
       'exterior_color', 'interior_color', 'seller_name', 'seller_phone',
       'transmission', 'drivetrain', 'id'],
      dtype='object')

In [17]:
print(market_df['miles'].isnull().sum()) # there are nan miles

24

In [18]:
market_df['miles'].fillna(value=0, inplace=True)

In [19]:
print(market_df['miles'].isnull().sum()) # check

0

In [20]:
print(market_df['year'].isnull().sum())
print(market_df['maker'].isnull().sum())
print(market_df['vin'].isnull().sum())

2
2
0

In [21]:
market_df[pd.isnull(market_df['maker'])] # should delete them

,name,vin,maker,model,year,price,miles,exterior_color,interior_color,seller_name,seller_phone,transmission,drivetrain,id
371,2011 BMW SAV,C850370A0D0CC7572,NaN,NaN,NaN,19985.0,47857.0,Sparkling Bronze,Oyster,INTERNATIONAL AUTOS GROUP,414-543-3000,NaN,NaN,371
2691,2015 Audi Q3 2.0T Premium Plus SUV,WA1GFCF27FR013222,NaN,NaN,NaN,26988.0,27319.0,Gray,NaN,INTERNATIONAL AUTOS GROUP,414-543-3000,NaN,NaN,2694

In [22]:
market_df = market_df[pd.notnull(market_df['maker'])]

In [23]:
print(market_df['year'].isnull().sum())
print(market_df['maker'].isnull().sum())
print(market_df['vin'].isnull().sum())

0
0
0

In [24]:
market_df['vin'].nunique() - market_df.shape[0] # vin is valid and unique

0

In [25]:
print(market_df['price'].isnull().sum()) # leave it like this

121

## 1.3 save clean data frame to new csv file

In [26]:
cars_df.columns

Index(['name', 'year', 'maker', 'color', 'price', 'seller_name',
       'seller_phone', 'seller_average_rating', 'seller_review_count', 'miles',
       'distance_from_madison', 'exterior_color', 'interior_color',
       'transmission', 'drivetrain', 'vin', 'id'],
      dtype='object')

In [27]:
market_df.columns

Index(['name', 'vin', 'maker', 'model', 'year', 'price', 'miles',
       'exterior_color', 'interior_color', 'seller_name', 'seller_phone',
       'transmission', 'drivetrain', 'id'],
      dtype='object')

We need to extract the common attributes from the two csv tables. Then we make two new csv tables based on these common attributes. This step is to make sure two tables have the same set of columns for entity matching.

In [28]:
intersect_columns = cars_df.columns.intersection(market_df.columns)

In [29]:
intersect_columns

Index(['name', 'year', 'maker', 'price', 'seller_name', 'seller_phone',
       'miles', 'exterior_color', 'interior_color', 'transmission',
       'drivetrain', 'vin', 'id'],
      dtype='object')

In [30]:
cars_df = cars_df[intersect_columns]

In [31]:
market_df = market_df[intersect_columns]

In [32]:
cars_df.columns

Index(['name', 'year', 'maker', 'price', 'seller_name', 'seller_phone',
       'miles', 'exterior_color', 'interior_color', 'transmission',
       'drivetrain', 'vin', 'id'],
      dtype='object')

In [33]:
market_df.columns

Index(['name', 'year', 'maker', 'price', 'seller_name', 'seller_phone',
       'miles', 'exterior_color', 'interior_color', 'transmission',
       'drivetrain', 'vin', 'id'],
      dtype='object')

In [34]:
cars_df.head()

,name,year,maker,price,seller_name,seller_phone,miles,exterior_color,interior_color,transmission,drivetrain,vin,id
0,2010 Mercedes-Benz GL 450 4MATIC,2010,Mercedes-Benz,15614.0,Kayser Ford Lincoln,(608) 807-5359,107545.0,Black,Cashmere,7-Speed Automatic,AWD,4JGBF7BEXAA543808,0
1,2015 Mercedes-Benz ML 350,2015,Mercedes-Benz,29998.0,CarMax Madison,(608) 286-3923,36642.0,Gray,Black,7-Speed Automatic w/OD,AWD,4JGDA5HB7FA445741,1
2,2013 Mercedes-Benz E 350 4MATIC,2013,Mercedes-Benz,16500.0,Lexus of Madison,(608) 478-2660,80614.0,Black,Black,7-Speed Automatic,AWD,WDDHF8JB7DA667069,2
3,2015 Mercedes-Benz C 300,2015,Mercedes-Benz,26988.0,Zimbrick Hyundai Eastside,(608) 338-1462,30090.0,Black,Black,7-Speed A/T,All Wheel Drive,55SWF4KB2FU026106,3
4,2015 Mercedes-Benz SLK 250,2015,Mercedes-Benz,29988.0,Zimbrick Hyundai Eastside,(608) 338-1462,25344.0,Black,Sahara Beige,7-Speed A/T,Rear Wheel Drive,WDDPK4HA2FF108712,4

In [35]:
cars_df.to_csv('cars_com_clean.csv', index=False)

In [36]:
market_df.to_csv('market_api_clean.csv', index=False)

In [37]:
cars_clean_df = pd.read_csv('cars_com_clean.csv')

In [38]:
cars_clean_df.head()

,name,year,maker,price,seller_name,seller_phone,miles,exterior_color,interior_color,transmission,drivetrain,vin,id
0,2010 Mercedes-Benz GL 450 4MATIC,2010,Mercedes-Benz,15614.0,Kayser Ford Lincoln,(608) 807-5359,107545.0,Black,Cashmere,7-Speed Automatic,AWD,4JGBF7BEXAA543808,0
1,2015 Mercedes-Benz ML 350,2015,Mercedes-Benz,29998.0,CarMax Madison,(608) 286-3923,36642.0,Gray,Black,7-Speed Automatic w/OD,AWD,4JGDA5HB7FA445741,1
2,2013 Mercedes-Benz E 350 4MATIC,2013,Mercedes-Benz,16500.0,Lexus of Madison,(608) 478-2660,80614.0,Black,Black,7-Speed Automatic,AWD,WDDHF8JB7DA667069,2
3,2015 Mercedes-Benz C 300,2015,Mercedes-Benz,26988.0,Zimbrick Hyundai Eastside,(608) 338-1462,30090.0,Black,Black,7-Speed A/T,All Wheel Drive,55SWF4KB2FU026106,3
4,2015 Mercedes-Benz SLK 250,2015,Mercedes-Benz,29988.0,Zimbrick Hyundai Eastside,(608) 338-1462,25344.0,Black,Sahara Beige,7-Speed A/T,Rear Wheel Drive,WDDPK4HA2FF108712,4

In [39]:
market_clean_df = pd.read_csv("market_api_clean.csv")

In [40]:
market_clean_df.head()

,name,year,maker,price,seller_name,seller_phone,miles,exterior_color,interior_color,transmission,drivetrain,vin,id
0,2017 BMW X3 Xdrive28i SUV,2017.0,BMW,32528.0,Kayser Nissan,866-752-3695,13327.0,Mineral Silver Metallic,BLACK,Automatic,All Wheel Drive,5UXWX9C30H0W66835,0
1,2013 BMW 3 Series 4dr Sdn 328i xDrive AWD,2013.0,BMW,17986.0,Zimbrick BMW,888-237-4721 877-654-8272,69367.0,Jet Black,Black,Automatic,All Wheel Drive,WBA3B3C55DJ976353,1
2,2011 BMW X3 AWD 4dr 28i,2011.0,BMW,15990.0,Zimbrick BMW,888-237-4721 877-654-8272,83846.0,Blue Water Metallic,Oyster,Automatic,All Wheel Drive,5UXWX5C5XBL704359,2
3,2011 BMW 3 Series 4dr Sdn 328i xDrive AWD,2011.0,BMW,14882.0,Zimbrick BMW,888-237-4721 877-654-8272,62935.0,Space Gray Metallic,Beige,Manual,All Wheel Drive,WBAPK7C59BA820953,3
4,2011 BMW M3 2dr Cpe,2011.0,BMW,29990.0,Zimbrick BMW,888-237-4721 877-654-8272,63030.0,Jet Black,Black,Manual,Rear Wheel Drive,WBSKG9C59BE369258,4